#insert{
    display:none;
    background:#EEEEEE !important;
}

#insert th{
    margin:0;
    padding:5px;
}

#save{
    background: url('Images/check.png');
    background-size:contain;
    width:25px;
    height:25px;
    border: none;
}

#save:hover{
    background:url('Images/hovercheck.png');
    background-size:contain;
}

#add{
    background: url('Images/add.png');
    background-size:contain;
    width:25px;
    height:25px;
    border: none;
    float: right;
    outline:none;
}

#edit{
    background: url('Images/edit.png');
    background-size:contain;
    width:21px;
    height:21px;
    border: none;
    margin-left:10px;
    float: right;
    display:none;
    outline:none;
}

#delete{
    background: url('Images/delete.png');
    background-size:contain;
    width:21px;
    height:21px;
    border: none;
    float: right;
    display:none;
    outline:none;
}

tbody tr:hover, .selected{
    background-color:#cecece;
}

#questionButtons{
    display:flex;
}

.navbar .navbar-default{
    background-color :none;
}

.navbar-nav>li {
    border-bottom:3px solid #efefef;
}

#menuContent a{
    color: #eff1f7;
    text-decoration: none;
}

#menuContent a:hover {
    color: white;
}

input{
    padding: 0;
}

textarea{
    width: 370px;
    height: 100px;
    padding: 6px 12px;
}

#id{
    display:none;
}