body {
    background: #c7cedd;
    background-color: #D7DDEA !important;
    margin:0;
}

#HeaderBar{
    height:80px;
    background: linear-gradient(50deg, #0185d1, #575DA9);
    box-shadow: 0 5px 6px #888888;
}
