USE [master]
GO
/****** Object:  Database [ShopApp]    Script Date: 11-Aug-17 7:59:34 PM ******/
CREATE DATABASE [ShopApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ShopApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ShopApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopApp]
GO
USE [ShopApp]
GO
/****** Object:  User [Sckipper]    Script Date: 11-Aug-17 7:59:34 PM ******/
CREATE USER [Sckipper] FOR LOGIN [Sckipper] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 11-Aug-17 7:59:35 PM ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 11-Aug-17 7:59:35 PM ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [Sckipper]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [admin]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [admin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [admin]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [admin]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[Angajat]    Script Date: 11-Aug-17 7:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Angajat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MagazinID] [int] NOT NULL,
	[Nume] [nvarchar](50) NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[CNP] [numeric](13, 0) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Parola] [nvarchar](512) NOT NULL,
	[DataAngajare] [date] NOT NULL,
	[Salariu] [int] NOT NULL,
	[Functie] [nvarchar](50) NULL,
 CONSTRAINT [PK_Angajat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 11-Aug-17 7:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategorieID] [int] NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Cod] [nvarchar](50) NOT NULL,
	[Descriere] [nvarchar](1024) NULL,
	[Imagine] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furnizor]    Script Date: 11-Aug-17 7:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furnizor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[Oras] [nvarchar](50) NOT NULL,
	[Telefon] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_Furnizor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livrare]    Script Date: 11-Aug-17 7:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livrare](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FurnizorID] [int] NOT NULL,
	[MagazinID] [int] NOT NULL,
	[DataSolicitare] [date] NOT NULL,
	[DataLivrare] [date] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Descriere] [nvarchar](512) NULL,
	[Pret] [int] NOT NULL,
 CONSTRAINT [PK_Livrare] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magazin]    Script Date: 11-Aug-17 7:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magazin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adresa] [nvarchar](128) NULL,
	[Denumire] [nvarchar](50) NOT NULL,
	[Imagine] [nvarchar](50) NOT NULL,
	[Oras] [nvarchar](50) NULL,
 CONSTRAINT [PK_Magazin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produs]    Script Date: 11-Aug-17 7:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategorieID] [int] NOT NULL,
	[MagazinID] [int] NOT NULL,
	[Denumire] [nvarchar](50) NOT NULL,
	[Greutate] [nvarchar](50) NULL,
	[Pret] [float] NULL,
	[Cantitate] [int] NOT NULL,
	[DataExpirate] [date] NULL,
	[Descriere] [nvarchar](1024) NULL,
	[Imagine] [nvarchar](50) NULL,
 CONSTRAINT [PK_Produs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Angajat]  WITH CHECK ADD  CONSTRAINT [FK_Angajat_Magazin] FOREIGN KEY([MagazinID])
REFERENCES [dbo].[Magazin] ([ID])
GO
ALTER TABLE [dbo].[Angajat] CHECK CONSTRAINT [FK_Angajat_Magazin]
GO
ALTER TABLE [dbo].[Livrare]  WITH CHECK ADD  CONSTRAINT [FK_Livrare_Furnizor] FOREIGN KEY([FurnizorID])
REFERENCES [dbo].[Furnizor] ([ID])
GO
ALTER TABLE [dbo].[Livrare] CHECK CONSTRAINT [FK_Livrare_Furnizor]
GO
ALTER TABLE [dbo].[Livrare]  WITH CHECK ADD  CONSTRAINT [FK_Livrare_Magazin] FOREIGN KEY([MagazinID])
REFERENCES [dbo].[Magazin] ([ID])
GO
ALTER TABLE [dbo].[Livrare] CHECK CONSTRAINT [FK_Livrare_Magazin]
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD  CONSTRAINT [FK_Produs_Magazin] FOREIGN KEY([MagazinID])
REFERENCES [dbo].[Magazin] ([ID])
GO
ALTER TABLE [dbo].[Produs] CHECK CONSTRAINT [FK_Produs_Magazin]
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD  CONSTRAINT [FK_Produs_Produs] FOREIGN KEY([CategorieID])
REFERENCES [dbo].[Categorie] ([ID])
GO
ALTER TABLE [dbo].[Produs] CHECK CONSTRAINT [FK_Produs_Produs]
GO
USE [master]
GO









